<div class="text-layout">
  <h1>DecimalPipe and Percentages</h1>
  <p>
    Pipes included in Angular - Usually in Common Module.
  </p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Net Sales" subheader="this year">
      <i class="pi pi-dollar"></i>
      {{ (netSales + 1000000) | number:'1.2-2' }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Gross Sales" subheader="this year">
      {{ (netSales + 2000000) | currency:'CAD':'symbol-narrow':'1.4-4' }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Percentage Gain" subheader="this year">
      {{ percentage | percent:'2.2-2' }}
    </p-card>
  </div>
</div>
